{% extends "core/base.html" %}

{% block title %}Partyou - Desafio{% endblock title %}

{% block content %}

    <main role="main">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <form class="post-form" action="{% url 'create_product' %}" method="POST">{% csrf_token %}
                        <h3 class="mb-4">Cadastro produto</h3>
                        <label class="col-sm-2 col-form-label">Nome:</label>
                        <p>
                            {{ form.name }}
                        </p>
                        <label class="col-sm-2 col-form-label">Descrição:</label>
                        <p>
                            {{ form.description }}
                        </p>
                        <label class="col-sm-2 col-form-label">Preço:</label>
                        <p>
                            {{ form.price }}
                        </p>
                        <p><input type="submit" class="btn btn-primary btn-block" value="Cadastrar"></p>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}